/* APPS.style */
* { transition: 0.6s; }
/*******************************************/
/*                STRUCTURE                */
/*******************************************/
html, body, #hook { height: 100%; width: 100%; }

#hook { margin-top: 50px; }
.tpl { border-top: 1px solid #CCC; }
.row { margin: 0; }
/*******************************************/
/*              PAGE SPECIFIC              */
/*******************************************/
/* Exercice: next.html */
.next > div:nth-of-type(1) { padding: 0 0.5em 0 1em; }
.next > div:nth-of-type(2) { padding: 0 1em 0 0; } 

/*******************************************/
/*                LEXICOGRAPHIC                       */
/*******************************************/
/* Lexicography > color */
.tpl { font-size: 1em;}
.ort { font-size: 2em; color: #B10000; }
.pho { color: green; font-weight: 700; }
.pos { color: #666; font-style: italic; font-weight: 700; }
.def { color: black; font-style: normal; }
/* Lexicography > sem */
.def .sem:nth-child(1):before  { content:   "➊"; font-size: 1.2em; }
.def .sem:nth-child(2):before  { content: "; ➋"; font-size: 1.2em; }
.def .sem:nth-child(3):before  { content: "; ➌"; font-size: 1.2em; }
.def .sem:nth-child(4):before  { content: "; ➍"; font-size: 1.2em; }
.def .sem:nth-child(5):before  { content: "; ➎"; font-size: 1.2em; }
.def .sem:nth-child(6):before  { content: "; ➏"; font-size: 1.2em; }
.def .sem:nth-child(7):before  { content: "; ➐"; font-size: 1.2em; }
.def .sem:nth-child(8):before  { content: "; ➑"; font-size: 1.2em; }
.def .sem:nth-child(9):before  { content: "; ➒"; font-size: 1.2em; }
.def .sem:nth-child(10):before { content: "; ➓"; font-size: 1.2em; }
.def .sem:nth-child(11):before { content: "; ⓫"; font-size: 1.2em; }
.def .sem:nth-child(12):before { content: "; ⓬"; font-size: 1.2em; }
.def .sem:nth-child(13):before { content: "; ⓭"; font-size: 1.2em; }
.def .sem:nth-child(14):before { content: "; ⓮"; font-size: 1.2em; }
.def .sem:nth-child(15):before { content: "; ⓯"; font-size: 1.2em; }

/* Lexicography > phon:
def:nth-child(1):before  { content:   "①"; font-size: 1.5em; }
def:nth-child(2):before  { content: "; ②"; font-size: 1.5em; }
def:nth-child(3):before  { content: "; ③"; font-size: 1.5em; }
def:nth-child(4):before  { content: "; ④"; font-size: 1.5em; }
def:nth-child(5):before  { content: "; ⑤"; font-size: 1.5em; }
def:nth-child(6):before  { content: "; ⑥"; font-size: 1.5em; }
def:nth-child(7):before  { content: "; ⑦"; font-size: 1.5em; }
def:nth-child(8):before  { content: "; ⑧"; font-size: 1.5em; }
def:nth-child(9):before  { content: "; ⑨"; font-size: 1.5em; }
def:nth-child(10):before { content: "; ⑩"; font-size: 1.5em; }
*/

/*******************************************/
/*              INTERACTIONS               */
/*******************************************/
.sound, .knol, .favorite { font-size: 2em; color:grey; }
.playing .sound { color: green; }


/*******************************************/
/*               MONITORING                */
/*******************************************/

.tpl[data-status="1"   ] .knol { color:grey;  }
.tpl[data-status="0.01"] .knol { color:green;}
.tpl[data-favorite="1" ] .favorite { color:yellow; }
.tpl[data-favorite="0" ] .favorite { color:grey; }

/*******************************************/
/*        TO DELETE IS PROVEN USELESS      */
/* http://getbootstrap.com/css/#helper-classes-backgrounds 
.bg-neutral { background-color: white;   }
.bg-primary { background-color: #428bca; }
.bg-success { background-color: #dff0d8; }
.bg-info 	{ background-color: #d9edf7; }  
.bg-warning { background-color: #fcf8e3; } 
.bg-danger  { background-color: #f2dede; }
/*******************************************/


/* http://getbootstrap.com/css/#helper-classes-backgrounds 
/* left-bd-indicators */
.left-bd-indicator { /*structure */
	border-left: 0.5em solid #eee;
}
.bd-neutral { border-color: #CCC;    }
.bd-primary { border-left-color: #428bca; }
.bd-success { border-left-color: #5cb85c; }
.bd-info 	{ border-left-color: #5bc0de; }
.bd-warning { border-left-color: #fbeed5; } /*dark: #f0ad4e ; light: #fbeed5;*/
.bd-danger  { border-left-color: #d9534f; }


/*******************************************/
/*        TO DELETE IS PROVEN USELESS      */
/*******************************************/
/*                  DARK BUTTONS                        */
/*******************************************/
/* BUTTONS> text: */

/*  BOUTTONS> shape */
button.betn {
  font-size: 1em;
  float: left;
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 10%;
  border:none;
  background: #333;
  background: linear-gradient(to bottom, #363636 0%, #292929 100%);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.7), inset 0 2px 0 -1px rgba(98, 98, 98, 0.5), 0 3px 7px -3px rgba(0, 0, 0, 0.7);
  color: #ADADAD;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: color .3s ease;
}
.btn.status1 { 
  color: red;
}
.btn.status1:hover {
  color: #BC2C2C;
}
.btn.status0 {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4), 0 3px 0 -1px rgba(98, 98, 98, 0.5), inset 0 4px 15px -2px rgba(0, 0, 0, 0.5);
  color: green;
}
.btn.status0:hover {
  outline:none; /* useless*/
  color: #308830;
}
/*******************************************/









