<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Dictionary Search</title>    
	<!-- FRAMEWORKS -->
	<script src="../js/jquery-2.1.0.min.js"></script>
	<script src="../js/jquery.mobile-1.4.1.min.js"></script>
	<script src="../js/bootstrap-3.2.0.min.js"></script>
	<link href='../css/normalize.min.css' rel='stylesheet' ><!-- -->
	<link href='../css/bootstrap.min.css' rel='stylesheet' ><!-- main.css -->
	<link  href='../css/font-awesome.css' rel='stylesheet' >
	<script src='../js/handlebars.js'></script>
	<script src='../js/howler.js'></script>
	<script src='../js/angular.min.js'></script>
	<script src='../js/angular-sanitize.min.js'></script>
	<!-- APPS -->
	<script rel='script' src='../js/main.js'></script>
	<link rel='stylesheet' href='../css/mymain.css'><!---          buttons            --->
	<!-- PAGE -->
	<!-- <link rel='stylesheet' href='http://andymatthews.net/code/jQuery-Mobile-Bootstrap-Theme/themes/Bootstrap.css'> 
/* http://jquerymobile.com/themeroller/?ver=1.3.0-rc.1&style_id=20130212-93 */
*/

-->
</head>

<body>
  <div data-role="page" data-theme="b">
  <header></header><!-- /header -->
<div class="container">
  <!--
  <div class="page-header">
    <h1>CFDICT <small>: dictionary...</small></h1>
  </div>
  -->
  <div class="row">
    <div class="col-md-6">      
      <h3>Searchable dictionary</h3>
      <div>We created an easy to use <em>instant search</em> on the <code>dictionary</code>, so you access quickly information you need. (Demo on the 50 most frequent words)</div> <br />
      
      <div ng-app="myApp" ng-controller="Search"><!-- myApp -->
        <form action="" method="POST" role="form"><!-- Form -->
          <!-- <legend>Find a word</legend> -->
          <div class="input-group">
            <input type="search" id="search" class="form-control" ng-model="_search">
            <div class="input-group-addon">Found {{(_dict | filter:_search).length}} of {{_dict.length}}</div> 
            <div class="input-group-addon"><input type="checkbox" ng-model="_pho" value="true" id="pho_checkbox" /><label for="pho_checkbox">Phon</label></div>
            <div class="input-group-addon"><input type="checkbox" ng-model="_list" value="true" id="list_checkbox" /><label for="list_checkbox">List</label></div>
          </div>
        </form><!-- end form-->

        <div ng-class="_list ? 'col-md-12 tpl left-bd-indicator' : 'col-md-4 tpl left-bd-indicator'" class="" ng-repeat="i in _dict | filter:_search | limitTo:limit | orderBy:'pho':!_pho" 
			 data-lexeme="{{i.ort}}{{i.pho}}" data-ort="{{i.ort}}" data-pho="{{i.pho}}" onclick="setLexemeCss(knol, $(this).closest('.tpl'))" ><!-- ng Template -->
            <text ng-class="list ? 'col-md-2' : 'col-md-12'" alt="">
		    <i class="sound fa fa-play" onclick="playSound($(this).closest('.tpl') )"><!-- ♪ --></i><span class="ort">{{i.ort}}</span> <small>/<span class="ort" style="color:chocolate;">{{i.ortx1}}</span></small></text>
            <text ng-class="list ? 'col-md-10' : 'col-md-12' "><span class="pho">{{i.phox1}}</span>: <span class="pos">{{i.pos}}</span>. <span class="def">{{i.def}}</span></text>
      </div><!-- end tpl -->
    </div><!-- end myApp -->
    </div><!-- end col -->
        
    <div class="col-md-6">
       <hr class="visible-sm visible-xs">
      <h3>————</h3>
      <b>Features:</b>
        <ul>
          <li>You can search HSK by written form, phonetic, or meaning.</li>
          <li>You get instant access to core aspects of the word.</li>
          <li>Clarify a word by a clean definition of its aspects is the a requirement for learning.</li>
          <li>This service is online 24/7.</li>
			<li>Best of all, all HSK 2012 levels 1 to 6 are searchable.</li>
			<!-- <li>Best of all, the +200.000 entries come from the leading institution in the field.</li> -->
        </ul>
    </div>
  </div><!-- end row-->
	
</div><!--end container -->

<footer></footer><!-- /footer -->
      
 <script> 																					var _0 = now();
appendJQMHeader('Home');

/* *********** LOADING DATA ********** */												var _D = now(); 
var url= "http://dev.cfdict.fr/api/any/q/的,我,你,是,了,不,在,他,好,有,这,就,会,吗,要,说,她,想,一,很,是的,吧,那,来,都,个,能,去,我们,没,和,到,对,也,啊,还,把,让,做,给,上,没有,一个,过,这个,得,看,就是,真,着,事,点,呢,只,别,哦,他们,但,被,走,不要,太,里,跟,你们,但是,再,不用,听,快,那个,谁,还有,这里,多,用,下,天,像,它,从,好好,找,还是,最,可,为,不过,大,死,次,出,这么,不好,干,嘿,们,话,而,可能";
//var url_animals = "http://dev.cfdict.fr/api/hant/q/鼠,牛,虎,兔,龍,蛇,馬,羊,猴,雞,狗,豬,龍,鳥,魚,猩猩,大猩猩,鯊魚,玄武,青龍,白虎,朱雀,麒麟,鳳凰,狐狸精,石獅子,貔貅,年獸,獬豸";
$.ajax({
    url: url,
    dataType: "json"
}).done(function (data) {
    localStorage.temp = JSON.stringify(data)
        .replace(/"[c|t|p]id":\d*,/g, "")
        .replace(/,"pos_txt":""/g, "")
        //.replace(/\{/g, "\n\t\{")
        //.replace(/\]/g, "\n\]");
 //        console.log("Data string: " + localStorage.temp);
//    return data;
});
	 
/* *********** ANGULAR SEARCH ********** */
var dict = loadJSONFile('../data/dict-hsk8653.json', "dict");
var knol = loadJSONFile('../data/knol-16000.json', "knol");

// Angular search
angular.module("myApp",["ngSanitize"])
	.controller("Search", function($scope, $interval) {
  		$scope._search = "学";
	  	$scope._dict = dict;
	  	$scope._knol = knol;
	  	$scope._pho = true ;
	  	//$scope.hant = true ;
	  	$scope._list = true;
	  	$scope.limit = 20;
	});

     </script>
</div><!-- /page -->
</body>
</html>
